@import url('https://fonts.googleapis.com/css2?family=Anton&family=DM+Sans:opsz,wght@9..40,100;9..40,700&family=Fredoka:wght@700&family=Inconsolata:wght@300;600&family=Poppins:wght@200&family=Roboto:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
}

ul,
li,
menu {
  list-style: none;
  display: flex;
  gap: 10px;
}

a {
  color: currentColor;
  text-decoration: none;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row > [class^='col'] {
	padding: 20px;
}

.col-3 {
  width: calc(100% * 3 / 12);
  padding: 0 5px;
}

.col-4 {
  width: calc(100% * 4 / 12);
  gap: 20px;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  
}

.col-8 {
  width: calc(100% * 8 / 12);
  padding-top: 20px;
}


